
body{
	background-color:#a1b2c3;
    margin: 0;

}
@media (min-width: 40rem) {
    .menubar{
        background-color: red;
        color: white;
        display: flex;
        justify-content: center;
        padding: 1rem;
        margin: 0;
        text-align: center;
        font-size: 25px;
        font-family: sans-serif;
    }
    #banner{
        background-color: black;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        align-items: center;
        color: white;
        border:1px dashed black;
        margin:3px;
        text-align: center;
        font-size: 35px;
    }
    .imageContainer{
       display: flex;
       flex-direction: column;
        justify-content: center;
        align-items: center;
       

    }
    .imageContainer img {
        margin: 1rem;
    }
    .button {
        background: red;
        color: #ffffff;
        font: inherit;
        text-align: center;
        border: 1.5px solid #0e4f1f;
        padding:12px;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        margin: 0 auto;
        width: 90%;
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
    .videoContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:30rem){
    .menubar {
        width: 24rem;
        display: flex;
        background-color: red;
        margin: 0;
        padding: 1rem;
        text-align: center;
        font-size: 15px;
        font-family: sans-serif;
        
    }
   
    #banner{
        background-color: black;
        width: 25rem;
        display: flex;
        border:1px dashed black;
        margin:3px 0;
        flex-direction: column;
        padding: 0.5rem;
        align-items: center;
        color: white;
        font-size: 20px;
        text-align: center;
    }
    .imageContainer {
        display: block;
        margin: 0 auto;
        width: 21.5rem;
    }
    .imageContainer img {
        width: 20rem;
    }
    .videoContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .course {
        width: 23rem;
    }
    .cont {
        margin: 0;
        padding: 0;
        display: flex;

    }
    .contlc {
        width: 20rem;
        height: 30rem;
        margin: 0;
        padding: 0;
    }
    .button {
        background: red;
        color: #ffffff;
        font: inherit;
        text-align: center;
        border: 1.5px solid #0e4f1f;
        padding:5px;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        margin: 0 auto;
        width: 60%;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    .footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: black;
    font-size: small;
}
}

.Resin{
    color: brown;
    font-family: lobster;
}




.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}

.course{
    text-align: center;
}

.beauty{
    display: flex;
    justify-content: center;
    align-items: center;
}

.select{
    text-align: center;
    color: #ffffff;
}
.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
    display: flex;
}

.level{
    display: block;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.sadiq{
    background: black;
    height: 3px;
    margin: 1rem auto;
    align-items: center;
    width: 80%;
    display: flex;
    justify-content: center;
}
.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: black;
    font-size: small;
}
.footer p{
    text-align: center;
    color: #ffffff;

}




    

  
